@model IEnumerable<Locadora.Filmes.Web.ViewModels.Album.AlbumIndexViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    <div class="col-md-10">
        <input type="text" id="pesquisarAlbum" class="form-control"/>
    </div>
    <div class="col-md-2">
        <button id="btnPesquisarAlbum">Pesquisar</button>
    </div>
</div>

<table class="table" id="tblAlbuns">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ano)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Autor)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.Email)
                </th>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $("#btnPesquisarAlbum").click(function () {
                var termoPesquisa = $("#pesquisarAlbum").val();
                $.ajax({
                    method: "GET",
                    url: "/Albuns/FiltrarPorNome/" + termoPesquisa,
                    success: function (data) {
                        $("#tblAlbuns tbody > tr").remove();
                        $.each(data, function (i, album) {
                            $("#tblAlbuns tbody").append(
                                "<tr>" +
                                "<td>" + album.Nome + "</td>" +
                                "<td>" + album.Ano + "</td>" +
                                "<td>" + album.Descricao + "</td>" +
                                "<td>" + album.Autor + "</td>" +
                                "<td>" + album.Email + "</td>" +
                                "<td>" +
                                "<a href = '/Albuns/Edit/" + album.Id + "'>Editar</a>" +
                                "<a href = '/Albuns/Edit/" + album.Id + "'>Detalhar</a>" +
                                "<a href = '/Albuns/Edit/" + album.Id + "'>Excluir</a>" +
                                "</td>" +
                                "</tr>"
                            );
                        });
                    },
                    error: function (data) {
                        alert("Houve um erro na pesquisa");
                    }
                });
            });
        });      

    </script>
    
    }
