@model IEnumerable<Locadora.Filmes.Web.ViewModels.Filme.FilmeIndexViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeAlbum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeFilme)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeAlbum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeFilme)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdFilme }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdFilme }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdFilme })
        </td>
    </tr>
}

</table>
